@media screen and (min-width: 280px) and (max-width: 390px){
    .header{
        // display:none;
                        
    }
    .aboutus{
        display:none;
    }
    .info{
        display:none;
    }
    .buy{
        display:none;
    }
    .sell{
        display:none;
    }
    .forma{
        display:none;
    }
    .footer{
        display:none;
    }
}
    
